@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Quicksand&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    scroll-behavior: smooth;
}
.label::before{
    content: "";
    background-color: #E0B828;
    width: 40%;
    height: 80%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 2px;
    border-radius: 50%;
    position: absolute;
}
input:checked + .label::before{
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
.label, .label::before{
    -webkit-transition: 0.6s;
    transition: 0.6s;
    cursor: pointer;
}
.heading::before{
    content: "";
    background-color: #E0B828;
    position: absolute;
    width: 0;
    left: 0;
    height: 5px;
    bottom: 0;
    transition:width 2s;
}
.heading:hover::before{
    width: 100%;
    right: 0;
}
.button::before{
    content: "";
    background-color:#3D9587;
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    transition:width 0.5s;
    border-radius: 0.25rem;
    z-index: -1;
}
.button:hover::before{
    width: 100%;
    right: 0;
}

.input--group:hover label{
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}